body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: white;
    color: grey;
}

.container {
    max-width: 1200px;
    margin : 0 auto;
    padding: 20px;
}

.header {
    background-color: grey;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
}